body {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7.5px;
}

h1 {
  text-align: center;
  color: whitesmoke;
}

#score-board {
  text-align: right;
  margin-left: 37.5px;
  background: rgba(255, 153, 153, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 3.75px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

#score-board h2 {
  color: whitesmoke;
  font-size: 15px;
  margin: 3.75px; 
}

#instructions-container {
  background: rgba(255, 153, 153, 0.2);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 225px;
  left: 10px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

#instructions {
  padding: 15px; /* Reduced from 20px */
  background-color: transparent;
  color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#game-container {
  background: linear-gradient(
    to bottom right,
    #0e0219,
    #7a243d,
    #b23235,
    #cc6200
  );

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center - 5%;
  width: 100%;
}

#game-board {
  background: rgba(255, 153, 153, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 615px;
  max-width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.card {
  width: 135px; 
  height: 195px;
  margin: 5px;
  cursor: pointer;
  background: rgba(255, 153, 153, 0.5);
  backdrop-filter: blur(10px);
  background-image: url("./cards/cover.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
  border-radius: 15px;
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.3),
    0 10px 30px 10px rgba(0, 0, 0, 0.25);
}

#back-button {
  position: absolute;
  top: 7.5px; /* Reduced from 10px */
  left: 7.5px; /* Reduced from 10px */
  padding: 7.5px 15px; /* Adjusted padding */
  background: rgba(255, 153, 153, 0.2);
  backdrop-filter: blur(10px);
  color: whitesmoke;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
}
#back-button:hover {
  border: 1px solid rgba(255, 255, 255, 0.25);
}

footer {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #070707;
}

@media (max-width: 1400px) {
  #instructions-container {
    display: none;
  }
}

@media (max-width: 768px) {

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7.5px; /* Reduced from 10px */
    font-size: 15px;

  }
  #instructions-container {
    display: none;
  }

  #game-container {
    justify-content: center;
  }

  #score-board h2 {
    font-size: 20px; /* Restored original font size */
  }
}
