body {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(
    to right,
    #0e0219 0%,
    #7a243d 20%,
    #b23235 50%,
    #cc6200 80%,
    #ff8c00 100%
  );

  padding: 20px;
  font-size: 25px;
}

header a {
  color: whitesmoke;
  text-align: center;
  padding: 20px;
}

#back-button {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  padding: 7.5px 15px;
  background: rgba(255, 153, 153, 0.2);
  backdrop-filter: blur(10px);
  color: whitesmoke;
  text-decoration: none;
  border-radius: 5px;
}
#back-button:hover {
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.thumbnail-container a {
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
}

.thumbnail-container img {
  width: 300px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s, filter 0.3s;
}

.caption {
  text-align: center;
  margin-top: 8px;
}

.game-description {
  display: none;
  color: whitesmoke;
  text-align: center;
  background: rgba(255, 153, 153, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  width: 280px;
  margin-top: 20px;
}

.thumbnail-container a:hover .caption {
  display: none;
}
.thumbnail-container a:hover .game-description {
  display: block;
}

.thumbnail-container a:hover img {
  border: 3px solid #b23235;
}

.thumbnail-container a:hover img {
  border: 3px solid #ddd;
  border-color: #b23235;
}

.text-background {
  background: rgba(255, 153, 153, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 20px;
  border-radius: 10px;
  color: whitesmoke;
}

footer {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;
  color: #070707;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .thumbnail-container {
    flex-direction: column;
    align-items: center;
  }

  .thumbnail-container img {
    width: 200px;
    height: 80%;
  }
}
